body {
    margin: 0;
}

.header {
    background-color: #B0BEC5;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin: 0px;
}

.nav {
    list-style: none;
    display: flex;
    text-align: right;
}

.nav a {
    color:#FFF;
    text-decoration: none;
    margin: 0 10px;
    display: block;
    transition: all .3s ease-out;
}

.nav a:hover {
    color: #455A64;
    transform: scale(1.2);
} 

.mid {
    background-color: #CFD8DC;
    display: grid;
    margin: 0px;
    align-items: center;
    color:#FFF;
    text-align: center;
}

.mid-inner {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0px;
}

.photos img {
    width: 100%;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 45px;
}


.footer {
    background-color: #90A4AE;
    display: grid;
    margin: 0px;
    padding: 25px;
    color:#FFF;
    text-align: center;
}